.each-job-list {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
  color: white;
}
.com-logo-con {
  display: flex;
  align-items: center;
}
.company-logo {
  width: 80px;
  height: 80px;
}
.title-con {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.title {
  color: white;
  font-family: roboto;
  font-size: 20px;
  font-weight: bold;
}
.rating-con {
  display: flex;
  align-items: center;
}
.rating {
  padding-left: 5px;
}
.location-pack-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.location-free-con {
  display: flex;
}
.location-container {
  display: flex;
  align-items: center;
}
.location {
  padding-left: 4px;
}
.freelance-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.lpa {
  color: WHITE;
  font-size: 16px;
  font-family: roboto;
  font-weight: bold;
}
.horisontal-line {
  color: white;
  width: 100%;
}
.des-heading {
  line-height: 5px;
}
